body {
    background-color: #2f4f4f;
}
body::-webkit-scrollbar {
    width: 8px;    
}

body::-webkit-scrollbar-track {
   
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    
  }

a{
    color: white;
    font-size: 25px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: #2f4f4f;
}

.nav-link {
    color: antiquewhite;
    
}


li :hover{
    background-color: black;
    border-radius: 5px;
}



/* main */
.row {
    gap: 10px;
    overflow: hidden;
}

.main-content {
    background-image:  url('img/cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-content .card {
    color:rgb(223, 223, 223);
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(#808080, #778899);
    opacity: 0.9;
    border: none;

}
legend{
    color: black;
}

label{
    color: black;
}
#resultado {
    display: none;
    color: aliceblue;    
}




#resuladoDiv {
    background: linear-gradient(#808080, #778899);
    font-size: 2rem;
    margin-top: 5%;
    color: aliceblue;  
    font-size: 25px;
}
/* footer */
.footer {
    background-color: #2f4f4f;
    color: aliceblue;
    margin: 0;
}

#teMuestro {
    font-size: 1rem;
    text-decoration: none;
}

#enganche {
    text-align: center;
}




